body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: white;
    color: #FFD700;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.header-brand {
    font-size: 24px;
    font-weight: bold;
}

.url-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.url-container h1 {
    color: #002B5B;
    margin-bottom: 20px;
}

#url-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#drive-url {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #FFD600;
    color: #002B5B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #FFC400;
}

.header-nav a {
    color: #FFD700;
    text-decoration: none;
    margin-left: 40px;
}

.header-nav a:hover {
    text-decoration: underline;
    color: #FFC400;
}
