body {
    font-family: Arial, sans-serif;
    /* background-color: #F4F4F9; */
    color: #6D6D6D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://xmple.com/wallpaper/highlight-white-gradient-yellow-linear-2560x1536-c2-ffd700-ffffff-l-67-a-135-f-21.svg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6D6D6D;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 20px;
    border: 1px solid #FFD700;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6D6D6D;
}

.input-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #6D6D6D;
    border-radius: 4px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        background-color: #FFC400;
    }
}

