*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html,body{
	height: 100%;
	width: 100%;
}

.header{
	height: 75px;
	display: flex;
	background-color: white;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid #FFD700;
	padding: 0px 20px;
}

.branding {
	height: 100%;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: 24px;
	color: #FFD700;
	font-weight: bold;
	&:hover{
		background-color: #FFC400;
		color: black;
	}
}

.header-buttons {
	display: flex;
	gap: 10px;
}

.header-button{
	height: 50px;
	width: 75px;
	background-color: #FFD700;
	color: black;
	margin: 20px;
	font-weight: 600;
	font-size: 14px;
	border-color: #FFD700;
	border-radius: 10%;
	border: none;
	display: flex;
	padding: 5px 12px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	&:hover{
	background-color: #FFC400;
	}
}

.main{
	height: 100%;
	background-color: #F4F4F9;
}

footer{
	background-color: #FFD700;
	border-top: #FFD700;
	height: 20px;
	text-align: center;
	color: black;
	padding: 5px 0;
	height: 20px;
}


